.navbar {
  background-color: #eec800 !important;
}

.btn {
  background-color: #eec800;
  color: black;
  border: rgba(0, 0, 0, 0);
}

.btn:hover {
  background-color: #cead00;
  color: black;
}

.layout-container {
  padding-left: 10px;
  padding-right: 20px;
}

.explore-button {
  width: 100%;
  box-shadow: 0px 5px 9px 2px rgba(0, 0, 0, 0.30);
}

.btn-md {
  margin-left: 300px;
  margin-top: -80px;
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 9px 2px rgba(0,0,0,0.30);
  background-color: white;
}
